<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta charset="UTF-8">
        <title>Telefon&iacute;a</title>
        <style>
            body {  font-family: Helvetica, sans-serif;    }
        </style>
    </head>

    <body>
        <h1>PRIMER TEMPLATE</h1>
        <h2>Header h2</h2>
        <h3>Header h3</h3>
        <h4>Header h4</h4>
        <h5>Header h5</h5>
        <p>Este es el contenido del p&aacute;rrafo</p>
        <p style= "color: red"> Nombre: {{ nombre }}</p>
        <p style= "color: blue">Apellido: {{ apellido }}</p>
        <p>Edad: {{ edad }}</p>
        <h3>Lista de Notas</h3>
        {% for nota in lista_de_notas  %}
            {% if nota >= 6%}
                <p style= "color: green"><strong>Aprobado: {{ nota }}</strong></p>
            {% else %}
                <p style= "color: red"><em>No aprobado: {{ nota }}</em></p>
            {% endif %}
        {% endfor %}

    </body>
</html>